{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
    <section class="hero-banner">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="text-uppercase">Servicio de Control de Plagas Urbanos</h1>
                <h1 class="text-uppercase">Solucionamos Problemas de Plagas</h1>
                <p><a class="btn btn-primary btn-lg text-uppercase" href="#mission" role="button">Conoce más</a></p>
            </div>
        </div>
    </section>
    <section class="mission text-center" id="mission">
        <hr/>
        <h2 class="mission-text text-uppercase text-center">
            Somos una empresa dedicada a la ejecución y evaluación de Servicios de
            FUMIGACIÓN y Control de Plagas.
            Para realizar nuestros trabajos, contamos con la autorización profesional
            según las resoluciones otorgadas por la COFEPRIS: Contamos con Licencia Sanitaria
            Utilizamos insecticidas con Registro Sanitario. 
        </h2>
        <hr/>
    </section>
    <section class="services" id="services">
        <div class="services-container">
            <div class="services-box d-flex flex-column align-items-center justify-content-center container text-uppercase">
                <div class="service-box">
                    <h1 class="service-title">Servicios:</h1>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de cucarachas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de chinches de cama</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de pulgas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de hormigas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de roedores</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de perros y gatos</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de alacranes</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de plagas de almacen</h3>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="11"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="12"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="13"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="14"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="15"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="16"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="17"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item  active" style="background-image: url('./img/img20.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img21.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img22.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img23.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img24.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img25.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img26.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img27.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img28.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img56.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img30.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img31.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img32.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img33.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img34.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img35.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img36.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section class="warrantees">
        <div class="container text-uppercase text-center px-3 py-5">
            <hr/>
            <h3 class="warrantee-title">Te damos garantia de nuestro servicio</h3>
            <p class="warrantee-text"> Monitoreamos y Damos Seguimiento para que no vuelvas a tener Problema de Plagas</p>
            <hr/>
        </div>
    </section>
    <section class="carousel">
        <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="9"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="10"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="11"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="12"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="13"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="14"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="15"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="16"></li>
                <li data-target="#carousel-example-generic3" data-slide-to="17"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url('./img/img3.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img4.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img5.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img6.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img7.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img8.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img9.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img10.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img11.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img12.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img13.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img14.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img15.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img16.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img17.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img18.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item" style="background-image: url('./img/img19.jpg');">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="courses" id="courses">
        <div class="courses-container">
            <div class="courses-box d-flex flex-column align-items-center justify-content-center container text-uppercase">
                <div class="course-box">
                    <h1 class="course-title">DAMOS CURSOS DE FUMIGACIÓN EN CONTROL DE PLAGAS URBANAS:</h1>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de control de plagas</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de cucarachas</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de chinches de camas</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de moscas</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de roedores</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de entornos</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso de buenas practicas de manufactura en manejo integral de plagas</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">curso PARA OBTENER LICENCIA SANITARIA DE FUMIGACIÓN</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title">CURSO PARA EXAMEN DE CONTROL DE PLAGAS ANTE COFEPRIS</h3>
                </div>
                <div class="course-box">
                    <h3 class="course-title"><a href="./img/temario-examen-control-de-plagas.pdf" download>Descargar temario</a></h3>
                </div>
            </div>
            <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="7"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="8"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="9"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="10"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="11"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="12"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="13"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="14"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="15"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="16"></li>
                    <li data-target="#carousel-example-generic2" data-slide-to="17"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="background-image: url('./img/img37.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img38.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img39.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img40.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img41.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img42.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img43.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img44.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img45.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img46.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img47.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img48.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img49.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img50.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img51.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img52.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img53.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item" style="background-image: url('./img/img54.jpg');">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container contact-container text-uppercase text-center">
            <div class="hours">
                <h1>Horarios:</h1>
                <h3 class="hour-text">Lunes - Viernes de 8:30 a 20:30</h3>
                <h3 class="hour-text">Sábado de 9:30 a 15:00</h3>
            </div>
            <div class="phones">
                <h1>Telefonos:</h1>                
                <h3 class="phone-number">5531823605</h3>
                <h3 class="phone-number">5563495643</h3>
                <h3 class="phone-number">5528128698</h3>
                <h3 class="phone-number">67152125</h3>
            </div>
        </div>
    </section>
{% endblock %}