{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
    <section class="hero-banner">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="text-uppercase">Servicio de fumigación y control de plagas urbanas</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg text-uppercase" href="#mission" role="button">Conoce más</a></p>
            </div>
        </div>
    </section>
    <section class="mission text-center" id="mission">
        <hr/>
        <h2 class="mission-text text-uppercase text-center">
            Somos una empresa dedicada a la ejecución y evaluación de Servicios de
            FUMIGACIÓN y Control de Plagas.
            Para realizar nuestros trabajos, contamos con la autorización profesional
            según las resoluciones otorgadas por la COFEPRIS: Contamos con Licencia Sanitaria
            Utilizamos insecticidas con Registro Sanitario. 
        </h2>
        <hr/>
    </section>
    <section class="services" id="services">
        <div class="services-container">
            <div class="services-box d-flex flex-column align-items-center justify-content-center container text-uppercase">
                <div class="service-box">
                    <h1 class="service-title">Servicios:</h1>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de cucarachas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de chinches de cama</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de pulgas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de hormigas</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de roedores</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de perros y gatos</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de alacranes</h3>
                </div>
                <div class="service-box">
                    <h3 class="service-title">control de plagas de almacen</h3>
                </div>
            </div>
            <div class="image-box side-image">
            </div>
        </div>
    </section>
    <section class="warrantees">
        <div class="container text-uppercase text-center px-3 py-5">
            <hr/>
            <h3 class="warrantee-title">Te damos garantia de nuestro servicio</h3>
            <p class="warrantee-text"> Monitoreamos y Damos Seguimiento para que no vuelvas a tener Problema de Plagas</p>
            <hr/>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container contact-container text-uppercase text-center">
            <div class="hours">
                <h1>Horarios:</h1>
                <h3 class="hour-text">Lunes - Viernes de 8:30 a 20:30</h3>
                <h3 class="hour-text">Sábado de 9:30 a 15:00</h3>
            </div>
            <div class="phones">
                <h1>Telefonos:</h1>                
                <h3 class="phone-number">5531823605</h3>
                <h3 class="phone-number">55636495643</h3>
                <h3 class="phone-number">5528128698</h3>
                <h3 class="phone-number">67152125</h3>
            </div>
        </div>
    </section>
{% endblock %}